tbody td:hover:nth-child(5){
    background:#2ECC71;
    color: #fff;
}

tbody td:hover:nth-child(4){
    background:#E74C3C;
    color: #fff;
}
tbody td:hover:nth-child(3){
    background:#E74C3C;
    color: #fff;
}

tbody td:hover:nth-child(2){
    background:#F4D03F;
    color:#000000;
}

.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
